body{
    background-color: #fcde67;
    overflow: hidden;
}
.nav-link.active{
    border-bottom-color: #e99f4c !important;
}

.nav .nav-item a{
    color: #030e12;
}

.nav .nav-item a.active{
    color: #030e12;
}

.form-check-input:checked{
    background-color: #e99f4c !important;
    border-color: #e99f4c;
}
.todo-items{
    color: #030e12 !important;
}

ul.list-group{
    height: 253px;
    overflow-y: scroll;
}
.form-label.requiredField{
    color: white;
    font-size: 21px;
    font-weight: bold;

}

.asteriskField {
    display: none;
}
*:focus {
    outline: none;
    box-shadow: none!important;
    border:1px solid #ccc !important;
}

.text-white-50{
    outline: 0!important;
    border: none!important;
}
#hint_id_password1, #hint_id_password2{
    visibility: hidden;
    font-size: 0 !important;
}