body{
    background-color: red;
}
.nav-link.active{
    border-bottom-color: #e99f4c !important;
}

.nav .nav-item a{
    color: #030e12;
}

.nav .nav-item a.active{
    color: #030e12;
}

.form-check-input:checked{
    background-color: #e99f4c !important;
    border-color: #e99f4c;
}
.todo-items{
    color: #030e12 !important;
}